<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<script>

        document.getElementById("insert").addEventListener("click", function() {
        fetch("lib/api/", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify({ /* any data you want to send */ })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
        });

        document.getElementById("delete").addEventListener("click", function() {
        fetch("/lib/api", {
            method: "DELETE",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify({ /* any data you want to send */ })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
        });

        document.getElementById("update").addEventListener("click", function() {
        fetch("/lib/api", {
            method: "PUT",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify({ /* any data you want to send */ })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
        });


</script>

<body>
    <h1>Welcome {{ .userID }}</h1>
    
</body>
</html>